streamlit>=1.20
requests
pandas
numpy
pdfplumber
PyMySQL==1.0.2          # if you need DB access; otherwise omit
google-genai>=0.3.0
geocoder
plotly>=5.10.0
geopy>=2.2.0
pyresparser==1.0.6
pdfminer.six>=20201018
spacy==2.3.5
nltk==3.7
